<!-- <div class="">
    <div class="card" bg-{{ tipoPokemon }}>
        <a href="#">
            <img class="card-img-top" src="{{ imagemPokemon }}" alt="">
            <p class="card-title">{{ nomePokemon }}</p>
        </a>
    </div>
</div> -->

<div class="cartao-pokemon bg-{{ tipoPokemon}}">
    <div class="info-pokemon">
        <p class="nome-pokemon">{{ nomePokemon }}</p>
        <p class="tipo-pokemon">{{ tipoPokemon }}</p>
    </div>
    <div class="imagem-pokemon">
        <img src="{{ imagemPokemon }}" alt="">
    </div>
</div>