/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Montserrat', sans-serif;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  font-size: 1rem;
  margin: 0;
}

.bg-bug {
  background-color: #90c12c;
}

.bg-dark {
  background-color: #5a5366;
}

.bg-dragon {
  background-color: #0a6dc4;
}

.bg-electric {
  background-color: #f3d23b;
}

.bg-fairy {
  background-color: #ec8fe6;
}

.bg-fighting {
  background-color: #ce4069;
}

.bg-fire {
  background-color: #e5613e;
}

.bg-flying {
  background-color: #8fa8dd;
}

.bg-ghost {
  background-color: #6f4570;
}

.bg-grass {
  background-color: #63bb5b;
}

.bg-ground {
  background-color: #d97746;
}

.bg-ice {
  background-color: #75cfc1;
}

.bg-normal {
  background-color: #9099a1;
}

.bg-poison {
  background-color: #ab6ac8;
}

.bg-psychic {
  background-color: #f97176;
}

.bg-rock {
  background-color: #c7b78b;
}

.bg-steel {
  background-color: #5a8ea1;
}

.bg-water {
  background-color: #4d90d5;
}

:root {
  --body-color: #18191a;
  --text-color: white;
  --input-color: #252628;
  --button-color: #ffcb05;
  --transition: all 1s ease;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

body.light {
  --body-color: white;
  --text-color: black;
  --button-color: #3c5aa6;
  --input-color: white;
}

button {
  background-color: var(--button-color);
  color: var(--body-color);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: bold;
  transition: var(--transition);
}

button:disabled {
  background-color: var(--button-color);
  opacity: 0.5;
}

button:hover {
  background-color: var(--button-color);
  color: var(--body-color);
  filter: brightness(125%);
  transition: none;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.logo-pokemon {
  grid-column-start: 2;
  justify-self: center;
  height: 125px;
}

.container {
  width: 90%;
  margin: 40px auto;
}

.lista-pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.flip-card {
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  transition: none;
  min-height: 144px;
  box-sizing: border-box;
  position: relative;
}

.flip-card-inner {
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover {
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  border-radius: 10px;
}

.imagem-pokemon img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.info-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info-pokemon {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.info-pokemon .tipo-pokemon {
  padding: 2px 8px;
  background-color: var(--body-color);
  color: var(--text-color);
  border-radius: 10px;
  text-transform: capitalize;
  text-align: center;
}

.previous-next {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modo-dark {
  display: flex;
  align-self: center;
  margin: auto 0;
  align-items: center;
  justify-self: center;
  gap: 10px;
}

.modo-dark span {
  color: var(--text-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--body-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pesquisa {
  display: flex;
  justify-content: center;
  grid-column: 2;
}

.pesquisa button {
  border-radius: 0 5px 5px 0;
  padding: 10px 5px;
}

.pesquisa input {
  border: 2px solid var(--button-color);
  background-color: var(--input-color);
  color: var(--text-color);
  outline: none;
  border-radius: 5px 0 0 5px;
  padding: 5px 10px;
  flex: 0 1 300px;
}

.pesquisa button svg {
  fill: var(--body-color);
  height: 20px;
  transition: none;
}

.option-num-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.option-num-items label {
  color: var(--text-color);
}

.option-num-items select {
  background-color: var(--input-color);
  outline: none;
  padding: 5px 15px;
  border-radius: 6px;
  color: var(--text-color);
}

.option-num-items select option:is(:active, :checked, :focus, :hover) {
  background-color: var(--button-color);
  color: var(--body-color);
}

.base-stats {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* position: relative; */
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.base-stats .stats {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  align-items: center;
  gap: 10px;
}

.base-stats .stats span {
  font-size: 0.7rem;
  text-transform: capitalize;
}

.base-stats .stats span:nth-child(1) {
  font-weight: bold;
  text-align: end;
}

.progress-bar {
  height: 4px;
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

.progress-value {
  background-color: #3c5aa6;
  height: 4px;
  border-radius: 10px;
  display: inline-block;
}