/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Montserrat', sans-serif;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  font-size: 1rem;
  margin: 0;
}

:root {
  --body-color: #18191a;
  --text-color: white;
  --input-color: #252628;
  --button-color: #ffcb05;
  --transition: all 1s ease;
}

body {
  /* height: 100vh; */
  background-color: var(--body-color);
}

body.light {
  --body-color: white;
  --text-color: black;
  --button-color: #3c5aa6;
  --input-color: white;
}

button {
  background-color: var(--button-color);
  color: var(--body-color);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: bold;
  transition: var(--transition);
}

button:disabled {
  background-color: var(--button-color);
  opacity: 0.5;
}

button:hover {
  background-color: var(--button-color);
  color: var(--body-color);
  filter: brightness(125%);
  transition: none;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
